body {
  background: rgb(61, 99, 218);
  background: radial-gradient(
    circle,
    rgba(61, 99, 218, 1) 0%,
    rgba(214, 84, 207, 1) 55%,
    rgba(151, 156, 203, 1) 100%
  );
  overflow-x: hidden;
  font-size: 1.5vw;
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  color: white;
}

.cell {
  display: flex;
  height: 175px;
  width: 196px;
  border: 2px solid;
  box-shadow: 0 0 0 2px white;
  font-size: 24px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: black;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.5);
}

.cell-image {
  max-width: 80%;
  max-height: 80%;
}

#gameContainer {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  height: 100%;
}

#cellContainer {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;
}

#restartBtn {
  padding: 8px 30px;
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(172 88 209);
  color: white;
}
